@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.jqgrid.src.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jqdnr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jqmodal.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/grid.formedit.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/grid.inlinedit.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/grid.celledit.js")" type="text/javascript"></script>
        <script>
                $(document).ready(function () {
                    $("#grid").jqGrid({
                        colModel: [
                            { name: "expenseDate", label: "Date", align: "center", sorttype: "date",
                                formatter: "date", formatoptions: {srcformat: "d.m.Y", newformat: "d.m.Y"} },
                            { name: "expense", label: "Expense", align: "center" },
                            { name: "amount", label: "Amount", align: "center", template: "number", sorttype: "number" },
                            { name: "paymentType", label: "Payment Type", align: "center" },
                            { name: "category", label: "Category", align: "center" },
                            { name: "currency", label: "Currency", align: "center" }
                        ],
                        url: '@routes.ExpensesDataController.expenses',
                        datatype: 'json',
                        rownumbers: true,
                        caption: "Expense Management App",
                        hidegrid: false,
                        idPrefix: "e1_",
                        sortname: "expenseDate",
                        sortorder: "desc",
                        loadonce: true
                    });

                    $("#addBtn").on( "click", function() {
                        jQuery("#grid").jqGrid('editGridRow', "new", {height:280,reloadAfterSubmit:false} );
                    });
                });
        </script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <table id="grid"></table>
        <button id="addBtn" type="button">Add Expense</button>
    </body>
</html>
