@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type="text/ecmascript" src="@routes.Assets.versioned("javascripts/jquery-1.11.0.min.js")"></script>
        <script type="text/ecmascript" src="@routes.Assets.versioned("javascripts/jquery.jqGrid.min.js")"></script>
        <script type="text/ecmascript" src="@routes.Assets.versioned("javascripts/i18n/grid.locale-en.js")"></script>
        <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.26/build/pdfmake.min.js">	</script>
        <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.26/build/vfs_fonts.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/ui.jqgrid.css")" />
        <script>
                $(document).ready(function () {
                    $("#grid").jqGrid({
                        colModel: [
                            { name: "expenseDate", label: "Date", align: "center", sorttype: "date",
                                formatter: "date", formatoptions: {srcformat: "d.m.Y", newformat: "d.m.Y"} },
                            { name: "expense", label: "Expense", align: "center" },
                            { name: "amount", label: "Amount", align: "center", template: "number", sorttype: "number" },
                            { name: "paymentType", label: "Payment Type", align: "center" },
                            { name: "category", label: "Category", align: "center" },
                            { name: "currency", label: "Currency", align: "center" }
                        ],
                        url: '@routes.ExpensesDataController.getExpenses',
                        datatype: 'json',
                        rownumbers: true,
                        caption: "Expense Management App",
                        hidegrid: false,
                        idPrefix: "e1_",
                        sortname: "expenseDate",
                        sortorder: "desc",
                        pager: 'gridPager',
                        rowNum: 5,
                        loadonce: true
                    }).jqGrid('inlineNav','#gridPager',{add: false, edit: false, save: false, cancel: false});;

                    $("#addExpenseForm").submit(function(event) {

                        event.preventDefault();

                        var dataToSend = {
                            expenseDate: $('#expDate').val(),
                            expense: $('#expense').val(),
                            amount: $('#amount').val(),
                            paymentType: $('#paymentType').val(),
                            category: $('#category').val(),
                            currency: $('#currency').val()
                        }

                        var posting = $.ajax({
                            type: "POST",
                            url: "/add/" + JSON.stringify(dataToSend)
                        });

                        posting.done(function(data) {
                            $('#result').text('success');
                        });
                        posting.fail(function() {
                            $('#result').text('failed');
                        });
                    });

                    $("#export").on("click", function(){
                        $("#grid").jqGrid("exportToPdf",{
                            title: 'Expense Management APP',
                            orientation: 'portrait',
                            pageSize: 'A4',
                            description: 'All of the expenses that have been entered into the system, are available in this PDF.',
                            customSettings: null,
                            download: 'download',
                            includeLabels : true,
                            includeGroupHeader : true,
                            includeFooter: true,
                            fileName : "All Expenses.pdf"
                        });
                    })
                });

                $.get("@routes.ExpensesDataController.total", function(data, status){
                    $('#totalExpense').html('<b>Total: ' + data + '</b>');
                });

                $.get("@routes.ExpensesDataController.average", function(data, status){
                    $('#averageExpense').html('<b>Average: ' + data + '</b>');
                });

        </script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <table id="grid"></table>
        <div id="gridPager"></div>
        <button id="export">Export to PDF</button>
        <br><br><br>
        <div>
            <label id="totalExpense" class="title"></label>
        </div>
        <div>
            <label id="averageExpense" class="title"></label>
        </div>
        <br><br><br>
        <h1>
            <b>Add Expense:</b>
        </h1>
        <br>
        <form id="addExpenseForm" title="" method="post">
            <div>
                <label class="title">Date:</label>
                <input type="text" id="expDate" name="expDate">
            </div>
            <div>
                <label class="title">Expense:</label>
                <input type="text" id="expense" name="expense">
            </div>
            <div>
                <label class="title">Amount:</label>
                <input type="text" id="amount" name="amount">
            </div>
            <div>
                <label class="title">Payment Type:</label>
                <input type="text" id="paymentType" name="paymentType">
            </div>
            <div>
                <label class="title">Category:</label>
                <input type="text" id="category" name="category">
            </div>
            <div>
                <label class="title">Currency:</label>
                <input type="text" id="currency" name="currency">
            </div>
            <div>
                <input type="submit" id="submitButton" name="submitButton" value="Submit">
            </div>

            <div id="result"></div>
            <br>
        </form>
    </body>
</html>
